/* Forces footer to bottom of page when
   there isn't enough content */
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto -85px;
    padding-bottom: 30px;
}
.footer, .push {
    height: 85px;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding-left: 15px;
}

.btn-purple {
    background-color: rgb(138, 43, 226);
    color: white;
}
.btn-purple:hover {
    background-color: rgb(108, 23, 206);
    color: white;
}

#create-post-btn {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    /* used to center text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: fixed;
    bottom: 25px;
    right:25px;
}
#create-post-btn p {
    line-height: 75px;
    vertical-align: middle;
}

#create-post-form textarea, .create-comment-form textarea {
    padding: 10px;
    width: 100%;
    resize: none;
    border: 1px solid lightgrey;
}

.welcome-text {
    margin: 0 auto;
    text-align: center;
}

.post-header, .comment-header {
    display: flex;
    align-items: center;
}

.pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.pfp-s {
    width: 40px;
    height: 40px;
}

.pfp-l {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.author-display-name, .comment-author-display-name {
    margin-right: 10px;
}

.post-body, .comment-body {
    padding: 0 10px;
}

.floatright {
    float: right;
}

.btn-like {
    padding: 0;
}

.create-comment-form > * {
    margin-top: 15px;
}

.comments-display {
    max-height: 250px;
    overflow: scroll;
    border: 1px solid lightgrey;
    padding: 0 15px 15px 15px;
    border-radius: 2px;
}

.comment {
    border-bottom: 1px solid lightgrey;
    padding: 15px;
}

.profile-header {
    padding: 0 25px 25px 25px;
    border-bottom: 1px solid lightgrey;
}

.profile-info {
    display: inline-flex;
    justify-content: center;
}

.user-names {
    margin-top: 10px;
}

.bio-container {
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid lightgrey;
}

.section-header {
    padding: 0 0 20px 20px;
}