.post-btn {
    background-color: rgb(138, 43, 226);
    color: white;
}
.post-btn:hover {
    background-color: rgb(108, 23, 206);
    color: white;
}

#create-post-btn {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    /* used to center text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    bottom: 150px;
    right:25px;
}
#create-post-btn p {
    line-height: 75px;
    vertical-align: middle;
}

#create-post-form textarea {
    padding: 10px;
    width: 100%;
    resize: none;
}