{% extends 'base.html' %}

{% block content %}
    {% if pending_users.all %}
    <div class="friend-requests">
        <h2 class="section-header">Incoming friend requests:</h2>
        {% for pending_user in pending_users %}
        <div class="row">
            <div class="friend-display card col-md-6 offset-md-3 mb-4" data-user-id="{{ pending_user.id }}">
                <div class="card-body">
                    <a href="{% url 'profile' pending_user.slug %}">
                        <span class="user-info">
                            <img class="pfp pfp-s d-inline" src="{{ pending_user.profile_picture.url }}">
                            <p class="d-inline">{{ pending_user.display_name }} <span class="text-secondary">({{ pending_user.username }})</span></p>
                        </span>
                    </a>
                    <span class="floatright btns">
                        <button class="btn btn-purple accept-btn">Accept</button>
                        <button class="btn btn-danger reject-btn">Reject</button>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if friends.all %}
    <div class="friends">
        <h2 class="section-header">Friends:</h2>
        {% for friend in friends %}
        <div class="row">
            <div class="friend-display card col-md-6 offset-md-3 mb-4" data-user-id="{{ friend.id }}">
                <div class="card-body">
                    <a href="{% url 'profile' friend.slug %}">
                        <span class="user-info">
                            <img class="pfp pfp-s d-inline" src="{{ friend.profile_picture.url }}">
                            <p class="d-inline">{{ friend.display_name }} <span class="text-secondary">({{ friend.username }})</span></p>
                        </span>
                    </a>
                    <span class="floatright btns">
                        <button class="btn btn-danger remove-btn">Remove Friend</button>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="section-header">You don't have any friends. Why not <a href="{% url 'find_friends' %}"><u>find some?</u></a></h2>
    {% endif %}
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function () {
        // Handle accept friendship button
        $('.accept-btn').click(function (event) {
            const senderId = $(this).closest('.friend-display').attr('data-user-id');
            // Send ajax request
            $.ajax({
                url: '{% url "accept_friend_request" %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                data: {
                    'sender_id': senderId,
                },
                success: function (data) {
                    let btnSpan = $('.friend-display[data-user-id=' + senderId + ']').find('.btns');
                    btnSpan.empty();
                    btnSpan.append('<button class="btn" disabled>Accepted</button>');
                    checkFriendRequests();
                },
                error: function (data) {
                    displayMessage(data.msg);
                }
            });
        });

        // Handle reject button
        $('.reject-btn').click(function (event) {
            const senderId = $(this).closest('.friend-display').attr('data-user-id');
            // Send ajax request
            $.ajax({
                url: '{% url "reject_friend_request" %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                data: {
                    'sender_id': senderId,
                },
                success: function (data) {
                    let btnSpan = $('.friend-display[data-user-id=' + senderId + ']').find('.btns');
                    btnSpan.empty();
                    btnSpan.append('<button class="btn" disabled>Rejected</button>');
                    checkFriendRequests()
                },
                error: function (data) {
                    displayMessage(data.msg);
                }
            });
        });

        // Handle remove button
        $('.remove-btn').click(function (event) {
            const userId = $(this).closest('.friend-display').attr('data-user-id');
            // Send ajax request
            $.ajax({
                url: '{% url "remove_friend" %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                data: {
                    'user_id': userId,
                },
                success: function (data) {
                    let btnSpan = $('.friend-display[data-user-id=' + userId + ']').find('.btns');
                    btnSpan.empty();
                    btnSpan.append('<button class="btn" disabled>Removed</button>');
                },
                error: function (data) {
                    displayMessage(data.msg);
                }
            });
        });
    });
</script>
{% endblock script %}