{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!--Post Display-->
        {% if user.is_authenticated %}
        {% for post in post_list|dictsortreversed:"created_on" %}
        <div class="col-md-6 offset-md-3 mt-4 card post" data-post-id="{{ post.id }}">
            <div class="card-body">
                <div class="post-header">
                    <span class="author-image">
                        <img src="{{ post.author.profile_picture.url }}">
                    </span>
                    <span class="author-display-name">
                        <p>{{ post.author.display_name }} <span class="text-secondary">({{ post.author.username }})</span></p>
                    </span>
                </div>
                <div class="post-body mt-3">
                    {{ post.body }}
                </div>
            </div>
            <div class="card-footer bg-white">
                <!--Like Button-->
                <span class="post-likes-display">
                    <button class="btn btn-like" aria-label="Like or unlike this post">
                        {% if user in post.likes.all %}
                        <i class="fas fa-heart"></i>
                        {% else %}
                        <i class="far fa-heart"></i>
                        {% endif %}
                    </button>
                    <span class="text-secondary likes">{{ post.num_likes }}</span>
                </span>
                <!--Comment Count & Button-->
                <span class="post-comments-display" role="button" aria-label="Display comments section">
                    <i class="far fa-comment"></i>
                    <span class="text-secondary comments-count">{{ post.comments.count }}</span>
                </span>
                <!--Timestamp-->
                <span class="text-secondary post-timestamp">
                    {{ post.created_on }}
                </span>
                <div class="comment-section d-none">
                    <!--Comment form-->
                    <form class="create-comment-form">
                        {% csrf_token %}
                        <input type="hidden" id="post" name="post" value="{{ post.id }}">
                        <textarea id="body" name="body" placeholder="What's on your mind?" rows="4"></textarea>
                        <input type="submit" value="Post" class="btn post-btn"></input>
                    </form>

                    <!--Comments Display-->
                    <div class="comments-display {% if not post.comments.all %} d-none {% endif %}">
                        {% for comment in post.comments.all %}
                            <div class="comment">
                                <div class="comment-header">
                                    <span class="comment-author-image">
                                        <img src="{{ comment.author.profile_picture.url }}">
                                    </span>
                                    <span class="comment-author-display-name">
                                        <p>{{ comment.author.display_name }} <span class="text-secondary">({{ comment.author.username }})</span></p>
                                    </span>
                                    <span class="text-secondary comment-timestamp">
                                        <p>{{ comment.created_on }}</p>
                                    </span>
                                </div>
                                <div class="comment-body mt-2">
                                    {{ comment.body }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>You're not signed up</h2>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        // Handle like button
        $('.btn-like').click(function () {
            const postId = $(this).closest('.post').attr('data-post-id');
            // Send an AJAX request to the server to like the post
            $.ajax({
                url: '{% url "like_post" %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                data: {
                    'post_id': postId,
                },
                success: function (data) {
                    let button = $('.post[data-post-id=' + postId + ']').find('.btn-like')
                    // Update number of likes
                    button.siblings('.likes').first()
                        .text(data.num_likes);
                    // Update like buton display
                    if (data.liked) {
                        button.html('<i class="fas fa-heart"></i>');
                    } else {
                        button.html('<i class="far fa-heart"></i>');
                    }
                }
            });
        });

        // Toggle comments section
        $('.post-comments-display').click(function (event) {
            // Determines whether user clicked parent or child element
            let section;
            if ($(event.target).hasClass('post-comments-display')) {
                section = $(event.target).siblings('.comment-section').first();
            } else {
                section = $(event.target).parent().siblings('.comment-section').first();
            }
            // Toggle display
            if (section.hasClass('d-none')) {
                section.removeClass('d-none');
            } else {
                section.addClass('d-none');
            }
        });

        // Handle comment form submission
        $('.create-comment-form').submit(function (event) {
                event.preventDefault();
                const formData = new FormData(this);
                const csrfToken = formData.get('csrfmiddlewaretoken');
                const body = formData.get('body');
                const postId = formData.get('post');

                // Send an AJAX request to the server to create the post
                $.ajax({
                    url: '{% url "create_comment" %}',
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                    data: {
                        'body': body,
                        'post_id': postId,
                    },
                    success: function (data) {
                        // Update comments number
                        $('.post[data-post-id=' + postId + ']').find('.comments-count')
                          .text(data.comments_count);
                        // Clear form
                        $('.create-comment-form').trigger('reset');
                        // Display comment
                        $('.post[data-post-id=' + postId + ']').find('.comments-display').removeClass('d-none');
                        $('.post[data-post-id=' + postId + ']').find('.comments-display')
                          .append(`<div class="comment"><div class="comment-header"><span class="comment-author-image"><img src="${ data.author_profile_picture_url }"></span><span class="comment-author-display-name"><p>${ data.author_display_name } <span class="text-secondary">(${ data.author_username })</span></p></span><span class="text-secondary comment-timestamp"><p>Just now</p></span></div><div class="comment-body mt-2">${body}</div></div>`);
                    },
                });
            });
    });    
</script>
{% endblock %}