{% extends 'base.html' %}

{% block content %}
    <div class="profile-header">
        <div class="profile-info">
            <img class="pfp pfp-l" src="{{ user.profile_picture.url }}">
            <span class="user-names">
                <h1 class="fs-2">{{ user.display_name }}</h1>
                <h2 class="text-secondary fs-3">({{ user.username }})</h2>
            </span>
        </div>
        {% if user.bio %}
            <div class="bio-container">
                <p class="text-secondary">{{ user.bio }}</p>
            </div>
            {% endif %}
        {% if is_current_user %}
        <form action="{% url 'edit_profile' slug=user.slug %}">
            <input type="submit" class="btn btn-purple d-block" value="Edit Profile">
        </form>
        {% elif not friendship %}
        <button id="add-friend-btn" class="btn btn-purple d-block" data-recipient="{{ user.id }}">Send friend request</button>
        {% elif friendship.status == 0 %}
        <button class="btn d-block" disabled>Friend Request Sent</button>
        {% endif %}
    </div>
    {% if friendship and friendship.status == 1 or is_current_user %}
        {% for post in user.posts.all %}
            {% include 'post_template.html' %}
        {% endfor %}
    {% else %}
        <h2>You're not friends with this user</h2>
    {% endif %}
{% endblock content %}

{% block script %}
{% include 'posts_comments_js.html' %}
<script>
    $(document).ready(function () {
        $('#add-friend-btn').click(function (event) {
            // Send ajax request
            $.ajax({
                url: '{% url "add_friend" %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                data: {
                    'recipient_id': $('#add-friend-btn').attr('data-recipient'),
                },
                success: function (data) {
                    // Change add friend button
                    $('#add-friend-btn').attr('disabled','');
                    $('#add-friend-btn').text('Friend Request Sent');
                    displayMessage(data.msg);
                },
                error: function (data) {
                    displayMessage(data.msg);
                }
            });
        });
    });
</script>
{% endblock script %}